@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Cabin', sans-serif;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
h2 {
    font-size: 4em;
    margin-bottom: 0.66em;
}
ul {
    font-size: 2em;
    list-style: disc;
    display: table;
    margin: 0 auto;
    text-align: left;
}
li {
    margin-bottom: 1em;
}
p {
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
.relative {
    position: relative;
    z-index: 1;
}
h2 + p {
    margin-top: -1em;
}
a {
    color: #2da99d;
    text-decoration: underline;
}

.vscode {
    background: #666;
    padding: 8px;
    max-width: 500px;
    margin: 30px auto;
}
.vscode .hljs {
    background: #f2fffc;
    padding: 20px;
    min-height: 130px;
    text-align: left;
}